.poljeIspravno {
   -fx-control-inner-background: greenyellow;
}
.poljeNijeIspravno {
   -fx-control-inner-background: lightpink;
}

#btnObrisi{
    -fx-graphic: url("/img/edit-delete.png");
}

#btnDodaj{
    -fx-graphic: url("/img/list-add.png");
}

#btnKraj{
    -fx-graphic: url("/img/application-exit.png");
}
